<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title th:text="'Spring Boot: MVC + Thymeleaf + Data JPA - ' + ${titulo}"></title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/webjars/font-awesome/5.6.3/css/all.min.css" />
    <link rel="stylesheet" href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <header th:fragment="header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Spring Boot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item" th:classappend="${#request.getServletPath() == '/' ? 'active' : ''}">
              <a class="nav-link" href="/">Home <span class="sr-only"  th:if="${#request.getServletPath() == '/'}">(current)</span></a>
            </li>
            <li class="nav-item" th:classappend="${#request.getServletPath() == '/listar' ? 'active' : ''}">
              <a class="nav-link" th:href="@{/listar}">Cliente <span class="sr-only" th:if="${#request.getServletPath() == '/listar'}">(current)</span></a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" sec:authorize="!isAuthenticated()">
              <a class="btn btn-outline-primary" th:href="@{/login}">Log in</a>
            </li>
            <li class="dropdown" sec:authorize="isAuthenticated()">
              <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span sec:authentication="name"></span>
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <form th:action="@{/logout}" method="post">
                  <input class="dropdown-item" type="submit" value="Logout" />
                  <!-- Opcional Spring security anade esto automaticamente -->
                  <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                </form>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-1">
              <a class="btn btn-outline-success" href="?lang=es_ES">ES</a>
            </li>
            <li class="nav-item mx-1">
              <a class="btn btn-outline-success" href="?lang=en_US">EN</a>
            </li>
            <li class="nav-item mx-1">
              <a class="btn btn-outline-success" href="?lang=de_DE">DE</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
      <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
      <div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
      <div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
    </header>

    <div class="container"></div>

    <footer class="container" th:fragment="footer">
      <hr />
      <img width="200px" th:src="@{/images/spring-logo.png}" alt="Spring Logo" />
      <p sec:authorize="isAuthenticated()">
        Usuario logueado <span sec:authentication="name"></span> | Roles: <span sec:authentication="principal.authorities"></span>
      </p>
        Powered By <a href="https://projects.spring.io/spring-boot/">Spring Boot</a> y
        <a href="http://www.thymeleaf.org">Thymeleaf</a>.
      </p>
      <p>
        Este Proyecto fue desarrollado en IDE Eclipse + Spring plugins (STS Spring Tool), profesor Andrés
        Guzman. <br /> &copy; Company 2019, Inc. Todos los derechos reservados. Terminos de Uso y privacidad.
      </p>

      <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
      <script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
      <script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
      <!-- <script src="webjars/font-awesome/5.6.3/js/all.min.js"></script> -->
      <script th:src="@{/js/script.js}"></script>
    </footer>
  </body>
</html>
