<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
  <div class="card bg-light">
    <h1 class="card-header text-secondary" th:text="${titulo}"></h1>
    <div class="card-body">
      <h4 class="card-title">
        <a class="btn btn-light btn-xs" th:href="@{'/ver/' + ${factura.cliente.id}}">&laquo; volver</a>
      </h4>
      <ul class="list-group my-2">
        <li class="list-group-item list-group-item-primary">Datos del Cliente</li>
        <li class="list-group-item" th:text="${factura.cliente}"></li>
        <li class="list-group-item" th:text="${factura.cliente.email}"></li>
      </ul>
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Datos de la Factura</li>
        <li class="list-group-item" th:text="'Folio: ' + ${factura.id}"></li>
        <li class="list-group-item" th:text="'Descripción: ' + ${factura.descripcion}"></li>
        <li class="list-group-item" th:text="'Fecha: ' + ${factura.createAt}"></li>
      </ul>

      <div class="alert alert-info my-4" th:if="${#lists.isEmpty(factura.items)}" th:text="'No hay lineas para la factura' + ${factura.descripcion}"></div>

      <table class="table table-striped table-hover table-bordered my-2" th:if="${not #lists.isEmpty(factura.items)}">
        <thead class="thead-light">
          <tr>
            <th class="text-center">Producto</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Cantidad</th>
            <th class="text-center">Importe</th>
          </tr>
        </thead>
        <tbody>
        <tr th:each="linea : ${factura.items}">
          <td th:text="${linea.producto.nombre}"></td>
          <td class="text-right" th:text="'$' + ${#numbers.formatDecimal(linea.producto.precio,3,2)}"></td>
          <td class="text-right" th:text="${linea.cantidad}"></td>
          <td class="text-right" th:text="'$' + ${#numbers.formatDecimal(linea.calcularImporte(),3,2)}"></td>
        </tr>
        </tbody>
      </table>

      <h5 class="float-right">
        Total: <span class="badge badge-secondary" th:text="'$' + ${#numbers.formatDecimal(factura.total,3,2)}"></span>
      </h5>

      <div class="card border-info mb-4 observacion" >
        <div class="card-header">Observaciones</div>
        <div class="card-body">
          <p class="card-text" th:text="${factura.observacion}" th:if="${not #strings.isEmpty(factura.observacion)}"></p>
          <h4 class="card-title" th:if="${#strings.isEmpty(factura.observacion)}">No tiene observaciones</h4>
        </div>
      </div>

      <a class="btn btn-light btn-xs" th:href="@{'/ver/' + ${factura.cliente.id}}">&laquo; volver</a>

    </div>
  </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
