<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
  <div id="i18n_eliminar_cliente" th:text="#{text.cliente.eliminarOk}" class="d-none"></div>
  <header th:replace="layout/layout :: header"></header>
  <div class="container py-4">
    <div class="card bg-light">
      <h1 class="card-header text-secondary" th:text="${titulo}"></h1>
      <div class="card-body">
        <h4 class="card-title">
          <a class="btn btn-primary btn-xs" th:href="@{/form}" sec:authorize="hasRole('ROLE_ADMIN')"><i class="fas fa-user"></i> <span th:text="#{text.cliente.crear}">Crear Cliente</span></a>
          <a class="btn btn-success btn-xs float-right" th:href="@{'/listar'(format=csv)}" th:title="#{text.cliente.export.csv}"><i class="fas fa-file-csv"></i><span class="sr-only">CSV</span></a>
          <a class="btn btn-outline-success btn-xs float-right" th:href="@{'/listar'(format=xml)}" th:title="#{text.cliente.export.xml}"><i class="fas fa-file-alt"></i><span class="sr-only">XML</span></a>
          <a class="btn btn-outline-warning btn-xs float-right" th:href="@{'/listar'(format=json)}" th:title="#{text.cliente.export.json}"><i class="fas fa-file"></i><span class="sr-only">JSON</span></a>
        </h4>

        <table class="table table-striped">
          <thead class="thead-dark">
          <tr>
            <th class="text-center" sec:authorize="hasRole('ROLE_USER')">id</th>
            <th th:text="#{text.cliente.nombre}">Nombre</th>
            <th th:text="#{text.cliente.apellido}">Apellido</th>
            <th th:text="#{text.cliente.email}">Email</th>
            <th class="text-center" th:text="#{text.cliente.dob}">Fecha de Nacimiento</th>
            <th class="text-center" th:text="#{text.cliente.factura.crear}" sec:authorize="hasRole('ROLE_ADMIN')">Crear Factura</th>
            <th class="text-center" th:text="#{text.cliente.editar}" sec:authorize="hasRole('ROLE_ADMIN')">Editar</th>
            <th class="text-center" th:text="#{text.cliente.eliminar}" sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="cliente: ${clientes}">
            <td sec:authorize="hasRole('ROLE_USER')"><a class="btn btn-primary btn-xs" th:href="@{'/ver/' + ${cliente.id}}"  th:text="${cliente.id}"></a></td>
            <td th:text="${cliente.nombre}">Juan</td>
            <td th:text="${cliente.apellido}">Perez</td>
            <td th:text="${cliente.email}">juan@mail.com</td>
            <td class="text-center" th:text="${cliente.dayOfBirth}">2018-01-25</td>
            <td class="text-center" sec:authorize="hasRole('ROLE_ADMIN')">
              <a class="btn btn-success btn-xs" th:href="@{'/factura/form/' + ${cliente.id}}">
                <i class="fas fa-plus-circle"></i>
                <span class="sr-only" th:text="#{text.cliente.factura.crear}">Crear Factura</span>
              </a>
            </td>
            <td class="text-center" sec:authorize="hasRole('ROLE_ADMIN')">
              <a class="btn btn-primary btn-xs" th:href="@{/form/} + ${cliente.id}">
                <i class="far fa-edit"></i>
                <span class="sr-only" th:text="#{text.cliente.editar}">Editar</span>
              </a>
            </td>
            <td class="text-center" sec:authorize="hasRole('ROLE_ADMIN')">
              <a class="btn btn-danger btn-xs eliminar_cliente" th:href="@{'/eliminar/' + ${cliente.id}}">
                <i class="far fa-trash-alt"></i>
                <span class="sr-only" th:text="#{text.cliente.eliminar}">Eliminar</span>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
        <nav th:replace="paginator-nav :: paginator"></nav>
      </div>
    </div>
  </div>
  <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
