<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
  <header th:replace="layout/layout :: header"></header>
  <div class="container">
    <h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0" th:text="${titulo}">Title</h1>
    <!-- <p><i class="fab fa-apple" data-fa-transform="grow-6 rotate-30"></i> Parrafo</p> -->
    <p>
        <a class="btn btn-default btn-xs" th:href="@{/form}"><i class="fas fa-user"></i> Crear Cliente</a>
    </p>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Fecha</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente: ${clientes}">
                <td th:text="${cliente.id}">1</td>
                <td th:text="${cliente.nombre}">Juan</td>
                <td th:text="${cliente.apellido}">Perez</td>
                <td th:text="${cliente.email}">juan@mail.com</td>
                <td th:text="${cliente.createAt}">2018-01-25</td>
                <td><a class="btn btn-primary btn-xs" th:href="@{/form/} + ${cliente.id}"><i class="far fa-edit"></i></a></td>
                <td><a class="btn btn-danger btn-xs eliminar" th:href="@{/eliminar/} + ${cliente.id}"><i class="far fa-trash-alt"></i></a></td>
            </tr>
        </tbody>
    </table>
  </div>
  <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
